body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.table-text{
    margin-bottom: 1%;
    font-size: 16pt;
}

.header{
    position: relative;
    width: 100%;
    height: 190pt;
    background-color: rgb(1, 28, 86);
}

.hexagons{
    position: absolute;
    width:50%;
    height: 100%;
    margin-left: 50%;
}

.first{
    font-size: 36pt;
    color:white;
    margin-bottom: 0;
    margin-top: 2%;
}

.second{
    font-size: 36pt;
    font-weight: 300;
    color:rgb(235, 133, 74);  
    margin-top: 0;
    margin-bottom: 0;
}

.third{
    font-size:36pt;
    font-weight: 600;
    color: rgb(240, 52, 74);
    margin-top: 0;
    margin-bottom: 0;
}

.myhr{
    width:220pt;
    margin-left: 0;
}

#main{
    position: relative;
    width:100%;
    height: 100%;
    margin-left:1%;
}

#maincontainer{
    position: absolute;
    margin-top: 2%;
    width: 100%;
}

#mainCreateBtn{
    background-color: rgb(235, 133, 74); 
    color: white;
    width: 75%;
    margin-right: 5em;
}

.captions{
    text-align: center;
}

#transTable{
    width:100%;
    border-collapse: collapse;
    border-spacing: 10pt 0;
    text-align: center;
    margin-top: 1%;
    background-color:aliceblue;
    color:rgb(80,80,80);
}

tbody tr:nth-child(odd) {
  background-color: aliceblue;
}

tbody tr:nth-child(even) {
  background-color:white;
}


td{
    padding: 15px 0;
}

#alert_placeholder{
    width: 50%;
    margin: auto;
    padding: 10px;
}

.labels-container{
    width:46%;
    margin-left: 30%;
    display: flex;
    flex-wrap: wrap;
}

.labels{
  flex: 0 0 30%;
  padding: 10px;
}

* {
  margin-left: 0;
  box-sizing: border-box;
}


.mylabel{
    color:rgb(80,80,80);
    font-size: 14pt;
}


.myinput{
   margin-top: 2.5%;
   width: 200pt;
}

.details-info{
    margin-left: 5%;
}


#createbtn{
    margin-top: 0.5%;
    margin-bottom:0.2%;
    background-color: rgb(235, 133, 74); 
    color: white;
    margin-left:48%;
}

#homebtn{
    margin-left: 85%;
    margin-top: 2%;
}

#homebtnd{
    margin-left: 90%;
    margin-top: 2%;
}